{% extends 'cp-base.html' %}

{% block title %}| Add New Payment Request{% endblock %}

{% block content %}

<div class="row card">
  <div class="card-header">
    <h1 class="card-title m-0">Add New Payment Request</h1>
  </div>
  <div class="col-sm-12">
    <form method="POST" action="{% url 'new_payment' %}" class="pb-5" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="d-flex flex-row justify-content-end mt-3">
        <button type="submit" class="btn btn-success">Create Payment Request</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}