{% extends 'cp-base.html' %}
{% load humanize %}

{% block title %}| Payment Management{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-12 d-flex">
    <div class="card flex-fill">
      <div class="card-header">
        <h1 class="card-title mb-0">All Payments</h1>
      </div>
      <table class="table table-hover my-0">
        <thead>
          <tr>
            <th>User Email</th>
            <th>Date</th>
            <th>Amount</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% if payments %}
          {% for payment in payments %}
          <tr>
            <td>{{ payment.email }}</td>
            <td>{{ payment.date|date:"d/m/y" }}</td>
            <td>£{{ payment.amount|intcomma }}</td>
            <td>
              {% if payment.paid == True %}
              <p class="m-0 badge bg-success">Paid</p>
              {% else %}
              <p class="m-0 badge bg-warning">Unpaid</p>
              {% endif %}
            </td>
            <td>
              <a href="{% url 'view_payment' payment.id %}" class="btn btn-secondary">View</a>
            </td>
          </tr>
          {% endfor %}
          {% else %}
          <tr>
            <td colspan="6">No payments to display.</td>
          </tr>
          {% endif %}
        </tbody>
      </table>
      <div class="d-flex flex-row justify-content-end p-3">
        <a href="{% url 'new_payment' %}" class="btn btn-success">Create New</a>
      </div>
    </div>
  </div>
  </div>
{% endblock %}