{% extends 'cp-base.html' %}

{% block title %}| View Payment{% endblock %}

{% block content %}
<section class="container mb-5">
  <div class="row">
    <div class="col-sm-12 text-center pt-5 pb-5">
      <h1>View Details</h1>
      <p>Payment ID: {{ payment.id}}</p>
    </div>
  </div>
  <div class="row mt-3 p-1 background-white pb-5 pt-5">
    <div class="col-sm-12 py-3">
      <h2 class="pb-5 text-center">Payment Request</h2>
      <p>Created On: {{ payment.date }}</p>
      <p>Request to: {{ payment.name }} - {{ payment.email }}</p>
      <p>Amount: £{{ payment.amount }}</p>
      <p>{{ payment.description }}</p>
      <p>Status: {% if payment.status == True %}Paid{% else %}Pending{% endif %}</p>
    </div>
    <div class="col-sm-12">
    </div>
  </div>
</section>
{% endblock %}