{% extends 'base.html' %}
{% load static %}

{% block extra_title %}
| Blog
{% endblock %}

{% block meta_description %}
Stay updated with FStop Photography's blog, featuring insights, tips, and behind-the-scenes stories from our latest photography projects. Discover inspiration and expert advice on capturing perfect moments.
{% endblock %}

{% block content %}
<section class="section-padding background-primary blog">
  <section
    class="internal-hero container-fluid section-padding bg-image"
    style="background-image:url({% static 'img/learn-img.webp' %})">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="color-white-200 fw-600 pt-5 border-b-primary pb-3">
            New &amp; Updates
          </h1>
          <p class="color-white-200 mt-3 pb-3">
            Stay up to date with our latest articles
          </p>
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <div class="row mt-3 blog-feed">

      {% if articles %}
      {% for article in articles %}
      <div class="col-sm-6 mt-3 blog-item row">
        <div
          class="col-sm-4 bg-img"
          style="background-image: url({{ article.thumb.url }})"
        >
        </div>
        <div class="col-sm-8 pl-3 d-flex flex-column justify-content-between">
          <h2 class="color-white-200 mb-3">{{ article.title }}</h2>
          <p class="color-white-300 pb-3">{{ article.exerpt }}</p>
          <a href="{% url 'article' article.slug %}" class="btn btn-custom-red">Read More</a>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <div class="col-sm-12 text-center">
        <h2 class="color-white-200">No articles found</h2>
      </div>
      {% endif %}
    </div>
  </div>
</section>
{% include 'partials/cta.html' %}
{% endblock %}