{% extends 'base.html' %}
{% load static %}

{% block extra_title %}
| Blog
{% endblock %}

{% block content %}
<section class="section-padding background-primary blog">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1 class="color-white-200">News &amp; Updates</h1>
        <p class="color-white-300 sub-text mt-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi alias animi illum! Fuga, voluptate quas molestiae ipsa distinctio nulla laborum, eveniet mollitia esse tenetur dolorum sint, aperiam aliquid quaerat ab.</p>
      </div>
    </div>
    <div class="row mt-3 blog-feed">

      {% if articles %}
      {% for article in articles %}
      <div class="col-sm-6 mt-3 blog-item row">
        <div
          class="col-sm-4 bg-img"
          style="background-image: url({{ article.thumb.url }})"
        >
        </div>
        <div class="col-sm-8 pl-3 d-flex flex-column justify-content-between">
          <h2 class="color-white-200 mb-3">{{ article.title }}</h2>
          <p class="color-white-300 pb-3">{{ article.exerpt }}</p>
          <a href="{% url 'article' article.slug %}" class="btn btn-custom-red">Read More</a>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <div class="col-sm-12 text-center">
        <h2 class="color-white-200">No articles found</h2>
      </div>
      {% endif %}
    </div>
  </div>
</section>
{% include 'partials/cta.html' %}
{% endblock %}