{% extends 'base.html' %}
{% load static %}

{% block extra_title %}
| {{ page_info.title }} Photography
{% endblock %}

{% block meta_description %}
{{ page_info.service_info_one_lead|truncatechars:150 }}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'services/css/services.css' %}">
{% endblock %}

{% block content %}
{% include 'services/partials/service-hero.html' %}
<main>
  <section class="sub-hero background-primary mt-3">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6 d-flex flex-row justify-content-center align-items-center my-2">
          <img src="{% static 'img/tick-icon.svg' %}" alt="signature">
          <p class="m-0 mx-3">{{ page_info.list_item_one }}</p>
        </div>
        <div class="col-sm-12 col-md-6 d-flex flex-row justify-content-center align-items-center my-2">
          <img src="{% static 'img/tick-icon.svg' %}" alt="signature">
          <p class="m-0 mx-3">{{ page_info.list_item_two }}</p>
        </div>
        <div class="col-sm-12 col-md-6 d-flex flex-row justify-content-center align-items-center my-2">
          <img src="{% static 'img/tick-icon.svg' %}" alt="signature">
          <p class="m-0 mx-3">{{ page_info.list_item_three }}</p>
        </div>
        <div class="col-sm-12 col-md-6 d-flex flex-row justify-content-center align-items-center my-2">
          <img src="{% static 'img/tick-icon.svg' %}" alt="signature">
          <p class="m-0 mx-3">{{ page_info.list_item_four }}</p>
        </div>
      </div>
    </div>
  </section>
  {% include 'services/partials/service-info-one.html' %}
  {% include 'services/partials/highlight-one.html' %}
  {% include 'services/partials/service-info-two.html' %}
  {% include 'services/partials/highlight-two.html' %}
  {% include 'partials/cta.html' %}
</main>

{% endblock %}