{% extends 'base.html' %}
{% load static %}

{% block extra_title %}| {{ page_info.title }} Photography{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'services/css/services.css' %}">
{% endblock %}

{% block content %}
{% include 'services/partials/service-hero.html' %}
<main>
  {% include 'services/partials/service-info-one.html' %}
  {% include 'services/partials/highlight-one.html' %}
  {% include 'partials/home/trust.html' %}
  {% include 'services/partials/service-info-two.html' %}
  {% include 'services/partials/highlight-two.html' %}
  {% include 'partials/cta.html' %}
</main>

{% endblock %}