{% extends 'cp-base.html' %}

{% block extra_title %}
| CMS - Homepage
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-sm-12 d-flex">
    <div class="card flex-fill">
      <div class="card-header">
        <h1 class="card-title mb-0">Homepage Hero</h1>
      </div>
      <div class="card-body">
        <form action="{% url 'cp_cms_home' %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.as_p }}
          <div class="d-flex flex-row justify-content-end pt-3 pb-3">
            <button type="submit" class="btn btn-success">Save Changes</button>
          </div>
      </div>
      <!--<div class="col-sm-12 py-3 justify-content-end d-flex flex-row">
        <a href="#" class="btn btn-danger mx-3">Delete Message</a>
      </div>-->
    </div>
  </div>
</div>
{% endblock %}