{% extends 'cp-base.html' %}

{% block extra_title %}
| CMS - Homepage
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-sm-12 d-flex pb-3">
    <div class="card flex-fill pb-3">
      <div class="card-header">
        <h1 class="card-title mb-0">All Messages</h1>
      </div>
      <table class="table table-hover my-0">
        <thead>
          <tr>
            <th>Page Feature</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Home Hero</td>
            <td><a href="{% url 'cp_cms_hero' %}" class="btn btn-secondary">Edit</a></td>
          </tr>
          <tr>
            <td>Home About Section</td>
            <td><a href="{% url 'cp_cms_about_home_edit' %}" class="btn btn-secondary">Edit</a></td>
          </tr>
          <tr>
            <td>Home Trusted By Panel</td>
            <td><a href="{% url 'cp_cms_trusted_by_edit' %}" class="btn btn-secondary">Edit</a></td>
          </tr>
          <tr>
            <td>Home Carousel Images</td>
            <td><a href="#" class="btn btn-secondary">Edit</a></td>
          </tr>
          <tr>
            <td>Home Services Overview</td>
            <td><a href="#" class="btn btn-secondary">Edit</a></td>
          </tr>
          <tr>
            <td>Home FAQ</td>
            <td><a href="{% url 'cp_cms_faq' %}" class="btn btn-secondary">Edit</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}