{% extends 'cp-base.html' %}

{% block extra_title %}
| CMS - Edit Homepage Hero
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-sm-12 d-flex">
    <div class="card flex-fill">
      <div class="card-header">
        <h1 class="card-title mb-0">Homepage Hero</h1>
      </div>
      <div class="card-body">
        <form action="{% url 'cp_cms_hero' %}" method="POST" enctype="multipart/form-data">
          <div class="row">
            {% csrf_token %}
            {% for field in form %}
            {% if forloop.counter == 6 %}
            <div class="col-sm-12">
              <h2 class="pt-3">List Items</h2>
            </div>
            {% endif %}
            {% if forloop.counter == 10 %}
            <div class="col-sm-12">
              <h2 class="pt-3">Stats Items</h2>
            </div>
            {% endif %}
            {% if forloop.counter > 5 %}
              <div class="col-sm-6">
            {% else %}
              <div class="col-sm-12">
            {% endif %}
              <div class="mt-3 mb-1">
                {% if field.label %}
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {% endif %}
                {{ field }}
                <p><small>{{ field.help_text }}</small></p>
              </div>
            </div>
            {% endfor %}
          </div>
          <div class="d-flex flex-row justify-content-end pt-3 pb-3">
            <button type="submit" class="btn btn-success">Save Changes</button>
          </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}