{% extends 'base.html' %}
{% load static %}

{% block extra_title %}
| About
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/home-style.css' %}">
{% endblock %}

{% block meta_description %}
Discover the story behind FStop Photography, where passion for capturing life's moments meets professional expertise. Learn more about our journey, services, and commitment to delivering stunning visual storytelling.
{% endblock %}

{% block content %}
<section
  class="internal-hero container-fluid section-padding bg-image"
  style="background-image:url({{ page_info.hero_image.url }})">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="color-white-200 fw-600 pt-5 border-b-primary pb-3">
          {{ page_info.hero_title }}
        </h1>
        <p class="color-white-200 mt-3 pb-3">
          {{ page_info.hero_subtitle }}
        </p>
      </div>
    </div>
  </div>
</section>

<section class="section-padding about-hero background-primary achievement-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="color-white-200 fw-600 pt-5 border-b-primary pb-3">
          {{ page_info.body_title }}
        </h2>
        <p class="color-white-300 mt-3 pb-3 sub-text">
          {{ page_info.body_subtitle }}
        </p>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-xl-8 mb-3">
        {{ page_info.body_text|linebreaks }}
      </div>
      <div class="col-xl-4">
        <img src="{{ page_info.body_image.url }}" class="img-fluid img fit" alt="{{ page_info.body_img_alt }}">
      </div>
    </div>
  </div>
</section>
  {% if articles %}
    {% include 'partials/home/blog-feed.html' %}
  {% endif %}
  {% include 'partials/cta.html' %}
{% endblock %}