{% extends 'base.html' %}
{% load static %}

{% block extra_title %}
| About
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/home-style.css' %}">
{% endblock %}

{% block content %}
{% include 'partials/internal-hero.html' %}

<section class="section-padding about-hero background-primary achievement-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="color-white-200 fw-600 pt-5 border-b-primary pb-3">When you need to innovate, you need collaboration</h2>
        <p class="color-white-300 mt-3 pb-3 sub-text">are passionate about creating innovative solutions for our clients. We work closely with you to understand your needs and develop custom solutions that meet your unique requirements. </p>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-sm-9 mb-3">
        <p class="color-white-200 mb-1">Based in rural Cornwall F. works with clients throughout the South West and the rest of the UK. With photography experience stretching back over 15 years be rest assured that we bring the expertise needed to bring your vision to life.</p>
        <p class="color-white-200 mb-1">We specialize in “On-Location” and “Usage” projects.  By that we mean capturing products and services that cannot be brought into a studio situation (though we do that as well) and the photographing of specific events.  Examples include photographing businesses themselves where the project must of course be photographed at the specific location OR lifestyle type shots where a product is immersed into the environment where it will be used.</p>
        <p class="color-white-200 mb-1">We also take product imagery in a studio here in Cornwall so are able to accept projects remotely and provide a full service to clients including models.</p>
        <p class="color-white-200 mb-1">Our passion for “On-Location” photography extends to personal portfolio imagery, images being captured for Instagram and other social media platforms as well as weddings and party events.</p>
        <p class="color-white-200">Please contact us with your requirements and we will tailor a package to suit your needs.</p>
      </div>
      <div class="col-sm-3">
        <img src="{% static 'img/faq-img.webp' %}" class="img-fluid img fit" alt="About Hero Image">
      </div>
    </div>
  </div>
</section>
  {% if articles %}
    {% include 'partials/home/blog-feed.html' %}
  {% endif %}
  {% include 'partials/cta.html' %}
{% endblock %}