{% extends 'base.html' %}
{% load static %}

{% block extra_title %}
| Cornwall Based Professional Photography
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/hero-style.css' %}">
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>
{% endblock %}

{% block content %}
  {% include 'home/partials/home-hero.html' %}
  {% include 'home/partials/learn.html' %}
  {% include 'home/partials/trust.html' %}
  {% if homepage_slider_images %}
    {% include 'home/partials/img-slider.html' %}
  {% endif %}
  {% if homepage_panels %}
    {% include 'home/partials/services-home.html' %}
  {% endif %}
  {% if articles %}
    {% include 'home/partials/blog-feed.html' %}
  {% endif %}
  {% if reviews %}
    {% include 'home/partials/feedback.html' %}
  {% endif %}
  {% if reviews %}
    {% include 'home/partials/faq.html' %}
  {% endif %}
  {% include 'partials/cta.html' %}
{% endblock %}

{% block postload_js %}
<script src="{% static 'js/slider.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
  var swiper = new Swiper('.swiper', {
    // Install Plugin To Swiper
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    autoplay: {
      delay: 5000,
    },
    loop: true,
    // 2 cards per slide
    slidesPerView: 2,
    // pause on hover
    pauseOnMouseEnter: true,
    breakpoints: {
      1: {
        slidesPerView: 1,
        spaceBetween: 40,
      },
      996: {
        slidesPerView: 2,
        spaceBetween: 40,
      },
    },
  });
</script>
{% endblock %}