{% extends 'base.html' %}
{% load static %}

{% block extra_title %} | Portfolio
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'portfolio/css/portfolio-style.css' %}">
{% endblock %}

{% block content %}
<section
  class="internal-hero container-fluid section-padding bg-image"
  style="background-image:url({% static 'img/blog-placeholder-img.webp' %})">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="color-white-200 fw-600 pt-5 border-b-primary pb-3">
          Portfolio
        </h1>
        <p class="color-white-200 mt-3 pb-3">
          When you need to innovate, you need collaboration
        </p>
      </div>
    </div>
  </div>
</section>
<section class="portfolio-gallery background-primary">
  <div class="container">
    <div class="row">
      <ul>
        {% if portfolio_images %}
          {% for img in portfolio_images %}
          <li>
            <a
              href="#item01"
              class="gallery-item"
              style="background-image:url({{ img.image.url }});"
              data-title="{{ img.title }}"
              data-description="{{ img.description }}"
            >
            </a>
          </li>
          {% endfor %}
        {% endif %}
      </ul>
    </div>
  </div>
</div>

<div id="port" class="port background-secondary">
  <button id="close_port">
    <p class="btn btn-custom-red">
      <span>Close</span><svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
        <path fill-rule="evenodd" d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm7.707-3.707a1 1 0 0 0-1.414 1.414L10.586 12l-2.293 2.293a1 1 0 1 0 1.414 1.414L12 13.414l2.293 2.293a1 1 0 0 0 1.414-1.414L13.414 12l2.293-2.293a1 1 0 0 0-1.414-1.414L12 10.586 9.707 8.293Z" clip-rule="evenodd"/>
      </svg>
    </p>
  </button>
  <img id="portImg" src="" alt="">
  <div class="content">
    <div class="wrapper">
      <h2 id="portTitle" class="color-white-200 pb-3 m-0 border-b-primary">Item 01</h2>
      <p id="portDescription" class="color-white-200 pb-3 pt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis libero erat. Integer ac purus est. Proin erat mi, pulvinar ut magna eget, consectetur auctor turpis.</p>
    </div>
  </div>
</div>

</section>

{% include 'partials/cta.html' %}
{% endblock %}

{% block postload_js %}
<script>
// Get Variables
portImg = document.getElementById('portImg');
port = document.getElementById('port');
portTitle = document.getElementById('portTitle');
portDescription = document.getElementById('portDescription');

// Get all instances of gallery items
galleryItems = document.querySelectorAll('.gallery-item');
galleryItems.forEach(function(item) {
  // Add a click event to each item
  item.addEventListener('click', function() {
    // get and set the appropriate data
    portImg.src = item.style.backgroundImage.slice(5, -2);    
    // get the data-title attribute of the clicked item
    portImg.alt = item.getAttribute('data-title');
    portTitle.innerHTML = item.getAttribute('data-title');
    portDescription.innerHTML = item.getAttribute('data-description');
    
    // Open the window port
    port.classList.add('item_open');
  });
});

// Event listener for closing the window port
document.getElementById('close_port').addEventListener('click', function() {
  port.classList.remove('item_open');
});

</script>
{% endblock %}