{% extends 'base.html' %}
{% load static %}

{% block extra_title %} | Portfolio
{% endblock %}

{% block content %}


<section class="portfolio-gallery background-primary">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <div class="col-sm-12 text-center">
          <h1 class="color-white-200 fw-600 pt-5">Portfolio</h1>
          <p class="color-white-300 mt-3 pb-3 sub-text">Here, you'll discover a collection of images that capture the essence of people, places, and events in vivid detail. Each photograph tells a unique story, carefully composed to evoke emotion and offer a new perspective. I invite you to explore my work and experience the world through my eyes — one frame at a time.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <ul>
        {% if portfolio_images %}
          {% for img in portfolio_images %}
          <li>
            <a
              href="#item01"
              class="gallery-item"
              style="background-image:url({{ img.image.url }});"
              data-title="{{ img.title }}"
              data-description="{{ img.description }}"
            >
            </a>
          </li>
          {% endfor %}
        {% endif %}
      </ul>
    </div>
  </div>

	<div id="port" class="port background-secondary">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 pb-3 portfolio-close-button-container">
          <button id="close_port">
            <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6"/>
            </svg>            
          </button>
        </div>
        <div class="col-sm-8 order-sm-3 pb-3">
          <img id="portImg" src="" alt="">
        </div>
        <div class="col-sm-4 pb-3 order-sm-2">
          <h1 id="portTitle" class="color-white-200 pb-3">Item 01</h1>
          <p id="portDescription" class="color-white-300 pb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis libero erat. Integer ac purus est. Proin erat mi, pulvinar ut magna eget, consectetur auctor turpis.</p>
        </div>
      </div>
    </div>
    
  </div>
</div>

</section>

{% include 'partials/cta.html' %}
{% endblock %}

{% block postload_js %}
<script>
// Get Variables
portImg = document.getElementById('portImg');
port = document.getElementById('port');
portTitle = document.getElementById('portTitle');
portDescription = document.getElementById('portDescription');

// Get all instances of gallery items
galleryItems = document.querySelectorAll('.gallery-item');
galleryItems.forEach(function(item) {
  // Add a click event to each item
  item.addEventListener('click', function() {
    // get and set the appropriate data
    portImg.src = item.style.backgroundImage.slice(5, -2);    
    // get the data-title attribute of the clicked item
    portImg.alt = item.getAttribute('data-title');
    portTitle.innerHTML = item.getAttribute('data-title');
    portDescription.innerHTML = item.getAttribute('data-description');
    
    // Open the window port
    port.classList.add('item_open');
  });
});

// Event listener for closing the window port
document.getElementById('close_port').addEventListener('click', function() {
  port.classList.remove('item_open');
});

</script>
{% endblock %}