{% load static %}

<section class="section-padding background-primary faq">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="color-white-200 text-center fw-600">FAQs: Your Questions Answered</h2>
        <p class="color-white-300 text-center mt-3">We understand that you may have questions about our services, pricing, and process. Feel free to reach out to us directly.</p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-6 pb-3">
        <div class="accordion accordion-flush" id="accordion">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                How much does it cost?
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordion">
              <div class="accordion-body">
                Photography is a totally bespoke service, so I don’t (or rather I can’t) offer fixed fee packages, as each shoot is as different as the images we capture. This is why we offer a free quotation service so that we can understand in detail what you’re looking for, which in turn allows me to provide the best price for you. 
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Are our photos edited?
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordion">
              <div class="accordion-body">
                Yes, all of our photos are edited to ensure that they are of the highest quality. We use the latest editing software to enhance the colors, contrast, and sharpness of the images. We also remove any blemishes or imperfections to ensure that you look your best in every photo. This service is included in your quote, so you don't have to worry about any additional costs.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Who owns the copyright to the photos?
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordion">
              <div class="accordion-body">
                Per UK law the copyright to the photos belongs to the photographer, but you will have full usage rights to the images. This means that you can use the photos for personal or commercial purposes without any restrictions. You can print the photos, share them on social media, or use them in your marketing materials. If you have any specific requirements for the usage of the photos, please let us know and we will be happy to accommodate your needs.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                What format do we recieve the photos in?
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordion">
              <div class="accordion-body">
                We will provide you with the photos in a digital format, which you can download from our website. The photos will be high-resolution and suitable for printing, as well as low-resolution versions that are perfect for sharing online. If you have any specific requirements for the format of the photos, please let us know and we will be happy to accommodate your needs.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Do you have the appropriate insurance?
              </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordion">
              <div class="accordion-body">
                Yes, we have full public liability insurance, which covers us for any accidents or incidents that may occur during the shoot. We also have professional indemnity insurance, which covers us for any errors or omissions in our work. This means that you can have peace of mind knowing that you are fully protected when you work with us.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingSix">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                What sort of timeframe can we expect?
              </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordion">
              <div class="accordion-body">
                Typically, from the initial enquiry we can deliver your photos within 5 to 6 weeks but the timeframe for your shoot will depend on the complexity of the project and the number of photos required. We will work with you to establish a timeline that meets your needs and ensures that you receive your photos in a timely manner. We will keep you informed of our progress throughout the process and will provide you with regular updates on the status of your photos. If you have any specific deadlines that you need to meet, please let us know and we will do our best to accommodate your needs.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingSeven">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                What budgets do you work with?
              </button>
            </h2>
            <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordion">
              <div class="accordion-body">
                We work with a wide range of budgets, from small businesses to large corporations. We understand that every client is unique and we will work with you to create a package that meets your needs and fits within your budget. We offer competitive pricing and flexible payment options to ensure that you get the best value for your money. If you have any specific budget requirements, please let us know and we will be happy to work with you to find a solution that meets your needs.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingEight">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                Do you provide the models?
              </button>
            </h2>
            <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordion">
              <div class="accordion-body">
                If your imagery requires a heartbeat we are happy to work with you to source the right model for your project. We have a network of models that we work with regularly and can help you find the perfect fit for your shoot. We will work with you to understand your requirements and find a model that meets your needs and fits within your budget. If you have any specific requirements for the models, please let us know and we will be happy to accommodate your needs.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <img src="{% static 'img/faq-img.webp' %}" alt="FAQ" class="img-fluid">
      </div>
    </div>
  </div>
</section>