{% load static %}

<section class="section-padding container-fluid feedback background-secondary">
  <div class="container">
    <div class="row mb-5">
      <div class="col-sm-12 text-center">
        <h2 class="color-white-200 fw-600 mb-3">Client feedback and success stories</h2>
        <P class="color-white-300">kimes eu risus vitae sollicitudin.onsect eturimet Nunc adipiscing mi aliam mi nisb rtisrisque aliquam fames eu risus vitae sollicitudin.</P>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="swiper-container">
                <div class="swiper-half">
                  <img src="{% static 'img/john.svg' %}" alt="Feedback 1" class="img-fluid">
                </div>
                <div class="swiper-half pt-3">
                  <h3 class="color-white-200 fw-600 mb-3 pl-3">John M</h3>
                  <span class="color-white-300 pl-3">Innovative tech Solutions</span>
                  <p class="color-white-300 pl-3 pt-3 quote">"We partnered with F. to revamp our brand identity and the transformation has been incredible. Our customer engagement has skyrocketed!"</p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="swiper-container">
                <div class="swiper-half">
                  <img src="{% static 'img/john.svg' %}" alt="Feedback 1" class="img-fluid">
                </div>
                <div class="swiper-half pt-3">
                  <h3 class="color-white-200 fw-600 mb-3 pl-3">John M</h3>
                  <span class="color-white-300 pl-3">Innovative tech Solutions</span>
                  <p class="color-white-300 pl-3 pt-3 quote">"We partnered with F. to revamp our brand identity and the transformation has been incredible. Our customer engagement has skyrocketed!"</p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="swiper-container">
                <div class="swiper-half">
                  <img src="{% static 'img/john.svg' %}" alt="Feedback 1" class="img-fluid">
                </div>
                <div class="swiper-half pt-3">
                  <h3 class="color-white-200 fw-600 mb-3 pl-3">John M</h3>
                  <span class="color-white-300 pl-3">Innovative tech Solutions</span>
                  <p class="color-white-300 pl-3 pt-3 quote">"We partnered with F. to revamp our brand identity and the transformation has been incredible. Our customer engagement has skyrocketed!"</p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="swiper-container">
                <div class="swiper-half">
                  <img src="{% static 'img/john.svg' %}" alt="Feedback 1" class="img-fluid">
                </div>
                <div class="swiper-half pt-3">
                  <h3 class="color-white-200 fw-600 mb-3 pl-3">John M</h3>
                  <span class="color-white-300 pl-3">Innovative tech Solutions</span>
                  <p class="color-white-300 pl-3 pt-3 quote">"We partnered with F. to revamp our brand identity and the transformation has been incredible. Our customer engagement has skyrocketed!"</p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="swiper-container">
                <div class="swiper-half">
                  <img src="{% static 'img/john.svg' %}" alt="Feedback 1" class="img-fluid">
                </div>
                <div class="swiper-half pt-3">
                  <h3 class="color-white-200 fw-600 mb-3 pl-3">John M</h3>
                  <span class="color-white-300 pl-3">Innovative tech Solutions</span>
                  <p class="color-white-300 pl-3 pt-3 quote">"We partnered with F. to revamp our brand identity and the transformation has been incredible. Our customer engagement has skyrocketed!"</p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="swiper-container">
                <div class="swiper-half">
                  <img src="{% static 'img/john.svg' %}" alt="Feedback 1" class="img-fluid">
                </div>
                <div class="swiper-half pt-3">
                  <h3 class="color-white-200 fw-600 mb-3 pl-3">John M</h3>
                  <span class="color-white-300 pl-3">Innovative tech Solutions</span>
                  <p class="color-white-300 pl-3 pt-3 quote">"We partnered with F. to revamp our brand identity and the transformation has been incredible. Our customer engagement has skyrocketed!"</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>