<div class="ga-consent-banner" id="cookie-consent">
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <h2>Cookies Consent</h2>
        <p>We use cookies to ensure that we give you the best experience on our website. If you continue to use this site we will assume that you are happy with it.</p>
      </div>
      <div class="col-sm-3 d-flex justify-content-center align-items-center">
        <button class="btn btn-custom-red" id="accept-cookies">Okay</button>
      </div>
    </div>
  </div>
</div>