{% load static %}

<section
  class="container-fluid home-hero"
  style="background-image: url({% static 'img/home-hero-img.webp' %})">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h1 class="display-1">Lorem ipsum, dolor sit amet</h1>
        <p class="lead">Amet consectetur. Nunc adipiscing mi aliquam mi nisi lobortis. Tellus eu gravida scelerisque aliquam fames eu risus vitae sollicitudin.</p>
        <a href="#" class="btn btn-primary btn-lg">View Photos</a>
      </div>
    </div>
  </div>
</section>