{% load static %}
<section class="container-fluid learn">
  <div class="container">
    <div class="row mb-3">
      <div class="col-sm-12 text-center">
        <h2 class="mb-3 mx-auto w-50 color-white-200">F. was born out of a love of imagery</h2>
        <p class="mb-3 mx-auto w-50 color-white-300">We are a product, outdoor lifestyle, and event photography studio that brings a diverse background of experiences to everything we work on.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 stretch-img mb-3" style="background-image: url({% static 'img/home-hero-img.webp' %})">
      </div>
      <div class="col-sm-6 pl-3">
        <p class="mb-2 heavy color-white-200">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p class="pb-2 mb-2 color-white-300 border-b-secondary">Based in rural Cornwall F. works with clients throughout the South West and the rest of the UK. With photography experience stretching back over 15 years be rest assured that we bring the expertise needed to bring your vision to life. </p>
        <p class="pb-2 mb-2 color-white-300">We specialize in “On-Location” and “Usage” projects.  By that we mean capturing products and services that cannot be brought into a studio situation (though we do that as well) and the photographing of specific events.  Examples include photographing businesses themselves where the project must of course be photographed at the specific location OR lifestyle type shots where a product is immersed into the environment where it will be used.</p>
        <p class="pb-2 mb-2 color-white-300">We also take product imagery in a studio here in Cornwall so are able to accept projects remotely and provide a full service to clients including models.</p>
        <p class="pb-3 mb-5 color-white-300 border-b-secondary">Our passion for “On-Location” photography extends to personal portfolio imagery, images being captured for Instagram and other social media platforms as well as weddings and party events.</p>
        <a href="#" class="btn btn-custom-red">Portfolio</a>
      </div>
    </div>
  </div>
</section>