<li class="nav-item">
  <a
    {% if '/about/' in request.path %} aria-current="page" {% endif %}
    href="{% url 'about' %}"
    class='nav-link px-2{% if "/about/" in request.path %} active{% endif %}'
  >
    About
  </a>
</li>

<li class="nav-item">
  <a 
    {% if '/services/' in request.path %} aria-current="page" {% endif %}
    href="{% url 'services' %}"
    class='nav-link px-2{% if "/services/" in request.path %} active{% endif %}'
  >
    Services
  </a>
</li>

<li class="nav-item">
  <a
    {% if '/portfolio/' in request.path %} aria-current="page" {% endif %}
    href="{% url 'portfolio' %}"
    class='nav-link px-2{% if "/portfolio/" in request.path %} active{% endif %}'
  >
    Portfolio
  </a>
</li>

<li class="nav-item">
  <a
    {% if '/blog/' in request.path %} aria-current="page" {% endif %}
    href="{% url 'blog' %}"
    class='nav-link px-2{% if "/blog/" in request.path %} active{% endif %}'
  >
    Blog
  </a>
</li>

<li class="nav-item">
  <a
    {% if '/contact/' in request.path %} aria-current="page" {% endif %}
    href="{% url 'contact' %}"
    class='nav-link px-2{% if "/contact/" in request.path %} active{% endif %}'
  >
    Contact
  </a>
</li>

<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-cy="dropdown-menu">
    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 21a9 9 0 1 0 0-18 9 9 0 0 0 0 18Zm0 0a8.949 8.949 0 0 0 4.951-1.488A3.987 3.987 0 0 0 13 16h-2a3.987 3.987 0 0 0-3.951 3.512A8.948 8.948 0 0 0 12 21Zm3-11a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
    </svg>    
  </a>
  <ul class="dropdown-menu">
    {% if user.is_authenticated %}
      {% if user.is_superuser %}
    <li><a class="dropdown-item" href="{% url 'control_panel' %}">Admin</a></li>
    <li><hr class="dropdown-divider"></li>
      {% endif %}
    <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
    <li><a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a></li>
    {% else %}
    <li><a data-cy="login-link" class="dropdown-item" href="{% url 'account_login' %}">Login</a></li>
    <li><a data-cy="register-link" class="dropdown-item" href="{% url 'account_signup' %}">Register</a></li>
    {% endif %}
  </ul>
</li>
