{% extends 'cp-base.html' %}

{% block extra_title %}
| Add Card
{% endblock %}

{% block content %}
  <div class="row card">
    <div class="card-header">
      <h1 class="card-title mb-0">Add Card</h1>
    </div>
    <div class="col-sm-12">
      <form method="POST" action="{% url 'cp_cms_add_services_card' %}" class="pb-5" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <p>Suitable icons can be found at <a href="https://flowbite.com/icons/" rel="nofollow" target="_blank">Flowbite</a></p>
        <div class="d-flex flex-row justify-content-end mt-3">
          <button type="submit" class="btn btn-success">Add Card</button>
        </div>
      </form>
    </div>
  </div>

{% endblock %}