{% extends 'cp-base.html' %}

{% block extra_title %}
| Edit Services Banner
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-12 d-flex">
    <div class="card flex-fill">
      <div class="card-header">
        <h1 class="card-title">Edit Services Banner</h1>
      </div>
      <div class="card-body">
        <form method="POST" action="{% url 'cp_cms_edit_services_banner' %}" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.as_p }}
          <div class="d-flex flex-row justify-content-end pt-3 pb-3">
            <button type="submit" class="btn btn-success">Save Changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}