{% extends 'cp-base.html' %}

{% block extra_title %}
| Edit {{ page_info.title }}
{% endblock %}

{% block content %}
<div class="row card">
  <div class="card-header">
    <h5 class="card-title mb-0">Edit {{ page_info.title }} page</h5>
  </div>
    <div class="col-sm-12 pt-3 pb-3">
      <form method="POST" action="{% url end_point %}" class="form" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Update Item</button>
      </form>
    </div>
  </div>
{% endblock %}