{% extends 'cp-base.html' %}

{% block extra_title %}
| Manage Services
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-12 d-flex pb-3">
    <div class="card flex-fill pb-3">
      <div class="card-header">
        <h1 class="card-title mb-0">Edit Services Pages</h1>
      </div>
      <table class="table table-hover my-0">
        <thead>
          <tr>
            <th>Page</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Lifestyle/Product</td>
            <td><a href="{% url 'cp_cms_edit_lifestyle' %}" class="btn btn-secondary">Edit</a></td>
          </tr>
          <tr>
            <td>Event</td>
            <td><a href="{% url 'cp_cms_edit_event' %}" class="btn btn-secondary">Edit</a></td>
          </tr>
          <tr>
            <td>Property</td>
            <td><a href="{% url 'cp_cms_edit_property' %}" class="btn btn-secondary">Edit</a></td>
          </tr>
          <tr>
            <td>Aerial</td>
            <td><a href="{% url 'cp_cms_edit_aerial' %}" class="btn btn-secondary">Edit</a></td>
          </tr>
          <tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}