{% load static %}
<section class="background-secondary section-padding container-fluid">
  <div class="container">
    <div class="row pb-3">
      <div class="col-sm-12 text-center">
        <h2 class="color-white-200 fw-600">Our Achievements</h2>
        <p class="color-white-300 mt-3">We are proud of our achievements and the recognition we have received from our peers and industry leaders, resulting in some impressive numbers</p>
      </div>
    </div>
    <div class="row mt-3">
      <ul class="achievements">
        <li>
          <div class="wrapper background-primary">
            <p class="color-white-200">100+</p>
            <h3 class="color-white-300">Projects Completed</h3>
          </div>
        </li>
        <li>
          <div class="wrapper background-primary">
            <p class="color-white-200">100+</p>
            <h3 class="color-white-300">Projects Completed</h3>
          </div>
        </li>
        <li>
          <div class="wrapper background-primary">
            <p class="color-white-200">100+</p>
            <h3 class="color-white-300">Projects Completed</h3>
          </div>
        </li>
        <li>
          <div class="wrapper background-primary">
            <p class="color-white-200">100+</p>
            <h3 class="color-white-300">Projects Completed</h3>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>