
<div class="col-sm-6 d-flex">
  <div class="card flex-fill">
    <div class="card-header">
      <h5 class="card-title mb-0">Latest Payment Requests</h5>
    </div>
    <table class="table table-hover my-0">
      <thead>
        <tr>
          <th>For</th>
          <th>Date</th>
          <th>Amount</th>
          <th>Actions</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% if latest_payment_requests %}
        {% for req in latest_payment_requests %}
        <tr>
          <td>{{ req.email }}</td>
          <td>{{ req.date|date:"d/m/y" }}</td>

          <td>
            £{{ req.amount }}
          </td>
          <td>
            <a href="" class="badge bg-secondary">View</a>
          </td>
          <td>
            <a href="#" class="badge bg-danger">Delete</a>
          </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
          <td colspan="5">No payment requests found</td>
        </tr>
        {% endif %}
      </tbody>
    </table>
    <a href="#" class="card-footer d-block text-center text-dark small font-weight-bold">View All</a>
  </div>
</div>