{% extends 'cp-base.html' %}

{% block extra_title %}
| Create Article
{% endblock %}

{% block content %}
  <div class="row card">
    <div class="card-header">
      <h5 class="card-title mb-0">Create Article</h5>
    </div>
    <div class="col-sm-12">
      <form method="POST" action="{% url 'add_article' %}" class="pb-5" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="d-flex flex-row justify-content-end mt-3">
          <button type="submit" class="btn btn-success">Create Article</button>
        </div>
      </form>
    </div>
  </div>

{% endblock %}