{% extends 'cp-base.html' %}

{% block extra_title %}
| Edit Article
{% endblock %}

{% block content %}
<section class="container mb-5">
  <div class="row">
    <div class="col-sm-12 text-center pt-5 pb-5">
      <h1>Edit Article</h1>
      <p class="mb-3">Edit your article.</p>
    </div>
  </div>
  <div class="row background-white">
    <div class="col-sm-12 pt-3 pb-3">
      <form method="POST" action="{% url 'edit_article' article.id %}" class="form" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Update Article</button>
      </form>
  </div>
</section>
{% endblock %}