/*
	FStop Photography by Jaimie
  Custom CSS Variables
*/

:root {
  --col-black: #0b0b0f;
  --col-grey: #121316;
  --col-white-200: #eaebeb;
  --col-white-300: #c1c1c3;
  --col-primary: #f53b00;
  --color-emerald: #2ecc71;
  --color-peter-river: #3498db;
  --font-size-base: 1rem;
}

@media screen and (max-width: 768px) {
  :root {
    --font-size-base: 1.2rem;
  }
}

* {
  position: relative;
}

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;}

body {
  line-height: 1;
}


body > * {
  font-family: Futura, system-ui, "Helvetica Neue";
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	-webkit-text-size-adjust: none;
}

mark {
	background-color: transparent;
	color: inherit;
}

input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input, select, textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background: var(--col-black);
}

/*
  Typography
*/

body, input, select, textarea {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.025em;
  line-height: 1.65;
}

a {
  -webkit-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
  border: none;
  color: inherit;
  text-decoration: none;
}

strong, b {
  font-weight: 600;
}

em, i {
  font-style: italic;
}

p {
  margin: 0 0 2em 0;
  font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
  font-weight: 600;
  line-height: 1;
  margin: 0 0 1em 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
}

h1 {
  font-size: calc(var(--font-size-base) * 2.5);
}

h2 {
  font-size: calc(var(--font-size-base) * 2);
}

h3 {
  font-size: calc(var(--font-size-base) * 1.25);
}

h4 {
  font-size: calc(var(--font-size-base) * 1);
}

h5 {
  font-size: calc(var(--font-size-base) * 1);
}

h6 {
  font-size: calc(var(--font-size-base) * 0.75);
}

@media screen and (max-width: 736px) {

  h1 {
    font-size: calc(var(--font-size-base) * 1.75);
  }

  h2 {
    font-size: calc(var(--font-size-base) * 1.5);
  }

  h3 {
    font-size: calc(var(--font-size-base) * 1.25);
  }

}

/* Form */

form {
  margin: 0 0 2em 0;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
select,
textarea,
textarea.form-control {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 1em;
  text-decoration: none;
  width: 100%;
  color: var(--col-black);
}

textarea.form-control {
  padding: 15px;
}

input[type="text"]:invalid,
input[type="password"]:invalid,
input[type="email"]:invalid,
input[type="tel"]:invalid,
input[type="search"]:invalid,
input[type="url"]:invalid,
select:invalid,
textarea:invalid {
  -webkit-box-shadow: none;
          box-shadow: none;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
select {
  height: 2.75em;
}

/*
Cookies Consent Banner
*/

.ga-consent-banner {
  position: fixed;
  bottom: -100%;
  left: 0;
  width: 100%;
  background-color: var(--col-black);
  z-index: 99999;
  border-top: 1px solid var(--col-primary);
  padding-top: 15px;
  transition:cubic-bezier(1, 0, 0, 1) 0.5s;

  h2 {
    margin: 0;
    padding-bottom: 15px;
    border-bottom: 2px solid var(--col-primary);
    margin-bottom: 5px;
  }
}

.ga-consent-banner.show {
  bottom: 0;
} 

/*
Toast Notifications
*/

.toast {
  top: 75px;
  right: 15px;

  .toast-body {
    background-color: var(--col-white-200);
    color: var(--col-black);
    font-weight: 400;
  }

  .border-b-success {
    border-bottom: 2px solid var(--color-emerald);
  }

  .border-b-warning {
    border-bottom: 2px solid orange;
  }

  .border-b-danger {
    border-bottom: 2px solid var(--col-primary);
  }

  .border-b-info {
    border-bottom: 2px solid var(--color-peter-river);
  }
 }

/*
Utility Classes
*/

.fixed-position {
  position: fixed;
}

.parallax {
  background-attachment: fixed;
}

@media screen and (max-width: 768px) {
  .parallax {
    background-attachment: scroll;
  }
}

.bg-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
 
.img.fit {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.section-padding {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

@media screen and (max-width: 768px) {
  .section-padding {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.background-primary {
  background-color: var(--col-black);
}

.background-secondary {
  background-color: var(--col-grey);
}

.color-white-200 {
  color: var(--col-white-200);
}

.color-white-300 {
  color: var(--col-white-300);
}

.color-white-300 {
  color: var(--col-white-300);
}

.border-b-primary {
  border-bottom: 1px solid var(--col-primary);
}

.border-b-secondary {
  border-bottom: 1px solid rgba(193,	193,	195, 0.5);
}

.bg-body-dark {
  background-color: var(--col-black);
}

.sub-text {
  max-width: 50%;
  margin: 0 auto;
}
/*
  Navigation Styles
*/

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu[data-bs-popper] {
  left: initial;
  right: 0;
}

.dropdown-divider {
  border-top: 1px solid var(--col-primary);
}

nav.navbar {
  padding: 1.0625rem 1.5rem;

  .navbar-toggler {
    background: var(--col-white-300);
  }

  .navbar-brand {
    color: var(--col-white-200);
    font-size: 2rem;
    font-weight: 700;
    font-family: Futura, system-ui, "Helvetica Neue";
  }
  
  .nav-link {
    color: var(--col-white-300);
    font-size: var(--font-size-base);
    font-weight: 500;
    transition: color 0.3s ease-in-out;
    font-family: Futura, system-ui, "Helvetica Neue";

    &:hover {
      color: var(--col-primary);
    }
  }

  .nav-link.show {
    color: var(--col-primary);
  }
  

  .nav-link.active {
    color: var(--col-primary);
  }

  .dropdown-menu {
    background-color: var(--col-black);
    border-radius: 0;

    li a {
      color: var(--col-white-200);

      &:hover {
        background-color: initial;
        color: var(--col-primary);
      }
    }
  }
}

/*
Internal Header Styles
*/

.internal-hero:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.internal-hero {
  .container {
    position: relative;
    z-index: 2;

    p {
      font-weight: 600;
    }
  }
}

.btn {
  letter-spacing: -0.32px;
  color: var(--col-white-200);
  font-size: var(--font-size-base);
  font-weight: 700;
  padding: 0.875rem 1.25rem;
  border-radius: 0;
  transition: background-color 0.3s ease;
}

.btn-custom-red {
  background-color: var(--col-primary);

  &:hover {
    background-color: var(--col-grey);
    color: var(--col-white-200);
  }
}

.btn-custom-black {
  background-color: var(--col-black);

  &:hover {
    background-color: var(--col-grey);
    color: var(--col-white-200);
  }
}

@media screen and (max-width: 768px) {
  .sub-text {
    max-width: 75%;
  }
}

@media screen and (max-width: 568px) {
  .sub-text {
    max-width: 100%;
  }
}

ul.errorlist li {
  color: var(--col-primary);
  font-weight: 700;
}

/*
  CTA Section Styles
*/

.cta {
  
  .container {
    position: relative;
    z-index: 2;
  }

}

.cta-bg {
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  padding: 50px 15px;
  position: relative;

  p {
    margin: 0 auto;
  }

  &:after {
    content: "F.";
    font-size: 20rem;
    position: absolute;
    bottom: 0;
    right: 0;
    color: #fff;
    opacity: 0.2;
    font-weight: 700;
    line-height: 1;
    z-index: 1;
  }
}

.cta-bg > * {
  position: relative;
  z-index: 2;
}

@media screen and (min-width: 768px) {
  .cta-bg {
    p {
      max-width: 50%;
    }
  }
}

/*
  Footer Styles
*/

footer {
  .nav .nav-item .nav-link {
    color: var(--col-white-200);
    transition: color 0.3s ease-in-out;
    
    &:hover {
      color: var(--col-primary);
    }
  }
    
    .dropdown {
      display: none;
    }
}

footer .nav .nav-item .nav-link.active {
  color: var(--col-primary);
}

/*
  Contact Flair Styles
*/

.contact-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  li {
    flex-basis: 33%;
    text-align: center;
    margin-top: 2rem;

    svg {
      fill: var(--col-white-200);
      width: 40px;
      height: 40px;
      max-width: 50px;
    }
  }
}

@media screen and (max-width: 568px) {
  .contact-list li {
    flex-basis: 100%;
  }
}

/*
  Register Form Styles
*/

.allauth-form {
  label {
    display: block;
    margin-bottom: 1rem;
    margin-top: 2rem;
    color: var(--col-white-200);
  }

  input {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid var(--col-white-300);
    background-color: var(--col-black);
    color: var(--col-white-200);
  }

  input[type="checkbox"] {
    width: initial;
  }
}

/*
  Services Page Styles
*/

.services-hero {
  padding-top: 10rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;

  h1 {
    span {
      display: block;
      font-size: calc(var(--font-size-base) * 10);
      margin-left: 0px;
      font-weight: 700;
    }
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
}

.services-hero > * {
  position: relative;
  z-index: 2;
}

.banner-img {
  padding-bottom: 15px;

  .banner-bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 10rem;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 1;
    }
  }

  h2 {
    padding-bottom: 15px;
    z-index: 2;
  }

  p {
    padding-bottom: 15px;
    z-index: 2;
  }
}

.service-panels {
  .card {
    background-color: var(--col-white-200);
  }

  .card-icon {
    &:after {
      content: "";
      position: absolute;
      top: 15px;
      left: 15px;
      background-color: var(--col-grey);
      width: 40px;
      height: 40px;
      border-radius: 40px;
      z-index: 1;
    }

    svg {
      margin-top: 23px;
      margin-left: 23px;
      max-width: 80px;
      display: block;
      border-radius: 25px;
      color:  var(--col-primary);
      position: relative;
      z-index: 2;
    }
  }
}