{% extends 'base.html' %}

{% block extra_title %}| Edit Profile{% endblock %}

{% block content %}
<div class="container-fluid section-padding background-primary ">
  <div class="container background-secondary">
    <div class="row p-5">
      <div class="col-md-12">
        <h1 class="color-white-200">Edit Profile</h1>
        <hr class="color-white-200">
      </div>
      <div class="col-sm-12 color-white-300">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.as_p }}
          <div class="pt-3 d-flex flex-row col-sm-12 justify-content-end">
            <button type="submit" class="btn btn-custom-red">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% endblock %}