{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/payment-css.css' %}">
{% endblock %}

{% block extra_js %}
{% endblock %}

{% block extra_title %}
| Make Payment
{% endblock %}

{% block content %}

<section
  class="internal-hero container-fluid section-padding bg-image"
  style="background-image:url({% static 'img/photographer-on-mountain.webp' %})">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="color-white-200 fw-600 pt-5 border-b-primary pb-3">
          Details
        </h1>
        <p class="color-white-200 mt-3 pb-3">
          View project details
        </p>
      </div>
    </div>
  </div>
</section>
<section class="container-fluid background-primary section-padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 pt-3 pb-3">
        <p class="color-white-200 pb-3">Payment ID: {{ payment_data.id }}</p>
        <p class="color-white-200 pb-3">{{ payment_data.description }}</p>
        <p class="color-white-200">£{{ payment_data.amount }}</p>
      </div>
    </div>
    {% if payment_data.paid == False %}
    <div class="row background-secondary">
      <div class="col-sm-12 color-white-300 p-3">
        <form method="POST" action="{% url 'make_payment' payment_data.id %}" id="payment-form">
          {% csrf_token %}
          <fieldset class="px-3 mb-3">
            <legend class="fieldset-label color-white-200">Your Details</legend>
            <div class="row">
              <div class="col-sm-6">
                {{ form.full_name }}
                {% if form.full_name.errors %}
                  <div class="alert alert-danger">
                    {{ form.full_name.errors }}
                  </div>
                {% endif %}
                {{ form.email }}
                {% if form.email.errors %}
                  <div class="alert alert-danger">
                    {{ form.email.errors }}
                  </div>
                {% endif %}
              </div>
              <div class="col-sm-6">
                {{ form.phone_number }}
                {% if form.phone_number.errors %}
                  <div class="alert alert-danger">
                    {{ form.phone_number.errors }}
                  </div>
                {% endif %}
              </div>
            </div>
          </fieldset>
          
          <fieldset class="px-3 mb-5">
            <legend class="fieldset-label color-white-200 mb-3">Address</legend>
            {{ form.street_address1 }}
            {% if form.street_address1.errors %}
              <div class="alert alert-danger">
                {{ form.street_address1.errors }}
              </div>
            {% endif %}
            {{ form.street_address2 }}
            {% if form.street_address2.errors %}
              <div class="alert alert-danger">
                {{ form.street_address2.errors }}
              </div>
            {% endif %}
            {{ form.town_or_city }}
            {% if form.town_or_city.errors %}
              <div class="alert alert-danger">
                {{ form.town_or_city.errors }}
              </div>
            {% endif %}
            {{ form.county }}
            {% if form.county.errors %}
              <div class="alert alert-danger">
                {{ form.county.errors }}
              </div>
            {% endif %}
            {{ form.postcode }}
            {% if form.postcode.errors %}
              <div class="alert alert-danger">
                {{ form.postcode.errors }}
              </div>
            {% endif %}
            {{ form.country }}
            {% if form.country.errors %}
              <div class="alert alert-danger">
                {{ form.country.errors }}
              </div>
            {% endif %}
          </fieldset>
          
          <fieldset class="px-3 mb-5">
            <legend class="fieldset-label color-white-200 mb-3">Card Details</legend>
            <!-- Stripe Element Placeholders -->
            <div id="card-element" class="mb-3 form-control"></div>
            <div id="card-errors" role="alert"></div>
          </fieldset>
          <div class="d-flex flex-row justify-content-end mt-5">
            <button type="submit" class="btn btn-custom-red" id="submit-button">Pay Now</button>
          </div>
        </form>
      </div>
      <div class="col-sm-12">
        {% if form.errors %}
          <div class="alert alert-danger">
            {{ form.errors }}
          </div>
        {% endif %}
        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
          <div class="alert alert-danger">
            {{ error }}
          </div>
        {% endfor %}
        {% endif %}
      </div>
    </div>
    {% endif %}
  </div>
{% endblock %}

{% block postload_js %}
{{ block.super }}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"client_secret" }}
<script src="{% static 'js/jquery.min.js' %}" defer></script>
<script src="{% static 'js/stripe_elements.js' %}" defer></script>
{% endblock %}