{% extends 'cp-base.html' %}

{% block extra_title %}
| Add Portfolio Image
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-12 d-flex pb-3">
    <div class="card flex-fill pb-3">
      <div class="card-header">
        <h1 class="card-title mb-0">Add New Image</h1>
      </div>
      <div class="card-body">
        <form action="{% url 'add_portfolio_image' %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form }}
          <div class="d-flex flex-row justify-content-end mt-5">
            <button type="submit" class="btn btn-success">Add Image</button>
          </div>
        </form>        
      </div>
    </div>
  </div>
</div>
{% endblock %}