{% extends 'cp-base.html' %}

{% block extra_title %}
| Delete Portfolio Image
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-12 d-flex pb-3">
    <div class="card flex-fill pb-3">
      <div class="card-header">
        <h1 class="card-title mb-0">Delete Image</h1>
        <p class="mb-3">Are you sure?</p>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-4">
            <img src="{{ image.image.url }}" alt="{{ image.title }}" class="img-fluid">
          </div>
          <div class="col-sm-8">
            <h3>{{ image.title }}</h3>
            <p>{{ image.description }}</p>
            <p class="pb-3">{{ image.created_at }}</p>
          </div>
        </div>
      </div>
      <div class="card-footer d-flex flex-row justify-content-end mt-3">
        <a href="{% url 'delete_portfolio_image' image.id %}" class="btn btn-danger">Yes</a>
        <a href="{% url 'cp_portfolio' %}" class="btn btn-secondary mx-3">No</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}