{% extends 'cp-base.html' %}

{% block extra_title %}
| Manage Portfolio
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-12 d-flex pb-3">
    <div class="card flex-fill pb-3">
      <div class="card-header">
        <h1 class="card-title mb-0">Portfolio Items</h1>
      </div>
      <table class="table table-hover my-0">
        <thead>
          <tr>
            <th>Image</th>
            <th>Title</th>
            <th>Alt Text</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% if portfolio_images %}
          {% for image in portfolio_images %}
          <tr>
            <td>
              <img src="{{ image.image.url }}" alt="{{ image.title }}" class="img-fluid mt-3" style="max-width: 50px; height: auto;">
            </td>
            <td>
              {{ image.title }}
            </td>
            <td>
              {{ image.description|truncatechars:20 }}
            </td>
            <td><a href="{% url 'delete_portfolio_image_confirm' image.id %}" class="btn btn-danger">Delete</a></td>
          </tr>
          {% endfor %}
          {% else %}
          <tr>
            <td colspan="4" class="text-center">You havn't uploaded any images yet</td>
          {% endif %}
        </tbody>
      </table>
      <div class="card-footer d-flex flex-row justify-content-end mt-3">
        <a
          href="{% url 'add_portfolio_image' %}"
          class="btn btn-success">
          Add Image
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}