{% extends 'cp-base.html' %}

{% block extra_title %}
| Edit Review
{% endblock %}

{% block content %}
<section class="container pt-5 mb-5">
  <div class="row mb-3">
    <div class="col-sm-12 text-center">
      <h1>Edit Review</h1>
      <p class="mb-3">Edit Review Content</p>
    </div>
  </div>
  <div class="row background-white p-5">
    <div class="col-sm-12 pb-5">
      <form method="POST" action="{% url 'edit_review' review.id %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Update Review</button>
      </form>
    </div>
  </div>
</section>
{% endblock %}