{% extends "account/base_manage.html" %}
{% load i18n %}
{% load allauth account %}


{% block extra_title %}
| Log In
{% endblock %}


{% block content %}
<section class="section-padding contact background-primary">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h1 class="color-white-200 fw-600 pt-5">Log In</h1>
          <p class="color-white-300 mt-3 pb-3 sub-text">Enter your account details to sign into your account</p>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-sm-12 allauth-form">
        {% url 'account_login' as login_url %}
        {% element form form=form method="post" action=login_url tags="entrance,login" %}
            {% slot body %}
                {% csrf_token %}
                {% element fields form=form unlabeled=True %}
                {% endelement %}
                {{ redirect_field }}
            {% endslot %}
            {% slot actions %}
            <div class="d-flex flex-row justify-content-end">
                <button type="submit" class="btn btn-custom-red" tags="prominent,login">
                    Sign In
                </button>
            </div>
            {% endslot %}
        {% endelement %}
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-sm-12">
            <p class="color-white-300 mb-3">If you have not created an account yet, then please sign up first.</p>
            <a href="{{ signup_url }}" class="btn btn-custom-red">
                Sign Up </a>
        </div>
      </div>
    </div>
  </section>
  {% include 'partials/cta.html' %}
{% endblock content %}
{% block extra_body %}
    {{ block.super }}
    {% if PASSKEY_LOGIN_ENABLED %}
        {% include "mfa/webauthn/snippets/login_script.html" with button_id="passkey_login" %}
    {% endif %}
{% endblock %}
