{% extends "account/base_manage.html" %}
{% load allauth i18n %}

{% block extra_title %}
| Register
{% endblock %}

{% block content %}
<section class="section-padding contact background-secondary">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
            <h1 class="color-white-200 fw-600 pt-5">Register</h1>
            <p class="color-white-300 mt-3 pb-3 sub-text">Create a new account</p>
            </div>
        </div>
    </div>
</section>
<section class="section-padding contact background-primary">
    <div class="container">
        <div class="row mt-5">
            <div class="col-sm-12">
                <div class="col-sm-12 pb-3">
                    <p class="color-white-300 pb-3">Already have an account? Then please Sign In</p>
                    <a href="{{ login_url }}" type="submit" class="btn btn-custom-red">
                        Sign In
                    </a>
                </div>
                <div class="allauth-form mt-3 background-secondary p-5 color-white-300">
                    {% url 'account_signup' as action_url %}
                    {% element form form=form method="post" action=action_url tags="entrance,signup" %}
                        {% slot body %}
                            {% csrf_token %}
                            {% element fields form=form unlabeled=True %}
                            {% endelement %}
                            {{ redirect_field }}
                        {% endslot %}
                        {% slot actions %}
                        <div class="d-flex flex-row justify-content-end">
                            <button type="submit" class="btn btn-custom-red">
                                Register
                            </button>
                        </div>
                        {% endslot %}
                    {% endelement %}
                </div>
            </div>
        </div>
    </div>
</section>
  {% include 'partials/cta.html' %}    
{% endblock content %}
