{% load static %}

<section class="blog-feed section-padding background-primary">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="color-white-200 text-center fw-600">Latest News &amp; Updates</h2>
        <p class="color-white-300 text-center mt-3">Stay up to date with the latest news and updates from our blog. We cover a wide range of topics, from photography tips and tricks to industry news and trends. Check back often for new content!</p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-sm-6">
        <a href="#" class="news-wrapper">
          <img src="{% static 'img/blog-placeholder-img.webp' %}" class="img-fluid" alt="Blog Post Image">
          <div class="news-body">
            <h3 class="color-white-200 mb-2">Blog Post Title</h3>
            <span class="date color-white-300 mb-2">January 1, 2022</span>
            <p class="color-white-300 excerpt pt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut purus eget sapien.</p>
          </div>
        </a>
      </div>
      <div class="col-sm-6">
        <a href="#" class="news-wrapper">
          <img src="{% static 'img/blog-placeholder-img.webp' %}" class="img-fluid" alt="Blog Post Image">
          <div class="news-body">
            <h3 class="color-white-200 mb-2">Blog Post Title</h3>
            <span class="date color-white-300 mb-2">January 1, 2022</span>
            <p class="color-white-300 excerpt pt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut purus eget sapien.</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>