{% load static %}

<section class="section-padding container-fluid feedback background-secondary">
  <div class="container">
    <div class="row mb-5">
      <div class="col-sm-12 text-center">
        <h2 class="color-white-200 fw-600 mb-3">Client feedback and success stories</h2>
        <P class="color-white-300">kimes eu risus vitae sollicitudin.onsect eturimet Nunc adipiscing mi aliam mi nisb rtisrisque aliquam fames eu risus vitae sollicitudin.</P>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="swiper">
          <div class="swiper-wrapper">

            {% for review in reviews %}
            <div class="swiper-slide">
              <div class="swiper-container">
                <div class="swiper-half">
                  <img src="{{ review.user_img.url }}" alt="Feedback 1" class="img-fluid">
                </div>
                <div class="swiper-half pt-3">
                  <h3 class="color-white-200 fw-600 mb-3 pl-3">{{ review.name }}</h3>
                  <span class="color-white-300 pl-3">{{ review.company }}</span>
                  <p class="color-white-300 pl-3 pt-3 quote">"{{ review.content }}"</p>
                </div>
              </div>
            </div>
            {% endfor %}
            
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>