{% load static %}

<section
  class="container-fluid home-hero"
  style="background-image: url({% static 'img/home-img.webp' %})">
  <div class="container p-5">
    <div class="row">
      <div class="col-sm-8">
        <h1>Lorem ipsum, dolor sit amet</h1>
        <p class="pb-1">Amet consectetur. Nunc adipiscing mi aliquam mi nisi lobortis. Tellus eu gravida scelerisque aliquam fames eu risus vitae sollicitudin.</p>
        <a href="{% url 'portfolio' %}" class="btn btn-custom-red">Portfolio</a>
        <a href="{% url 'contact' %}" class="btn btn-custom-black ml-3">Contact Us</a>
        <ul class="hero-list mt-3">
          <li>
            <img src="{% static 'img/tick-icon.svg' %}" alt="signature">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </li>
          <li>
            <img src="{% static 'img/tick-icon.svg' %}" alt="signature">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </li>
          <li>
            <img src="{% static 'img/tick-icon.svg' %}" alt="signature">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </li>
          <li>
            <img src="{% static 'img/tick-icon.svg' %}" alt="signature">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </li>
        </ul>
        <div class="row mt-5 credentials">
          <div class="col-sm-4">
            <span>95%</span>
            <h2>Lorem Ipsum</h2>
          </div>
          <div class="col-sm-4">
            <span>20+</span>
            <h2>Lorem Ipsum</h2>
          </div>
          <div class="col-sm-4">
            <span>10+</span>
            <h2>Years of experience</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>