{% load static %}

<section class="container-fluid trust background-secondary section-padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="color-white-200 pb-3">Trusted by some of the biggest names in the industry</h2>
        <p class="color-white-300">We understand that capturing life's most precious moments requires not only skill but also reliability and a personal connection. From the initial consultation to the final delivery of your photos, we are committed to ensuring that you feel confident and cared for every step of the way. Our transparent process, attention to detail, and dedication to your vision ensure that you can trust us to deliver images you'll treasure for a lifetime.</p>
      </div>
    </div>
    <div class="row mt-5">
      <ul>
        <li>
          <img
            src="{% static 'img/logos/brand-logo.svg' %}"
            alt="Trust 1"
            class="img-fluid"
          >
        </li>
        <li>
          <img
            src="{% static 'img/logos/brand-logo.svg' %}"
            alt="Trust 1"
            class="img-fluid"
          >
        </li>
        <li>
          <img
            src="{% static 'img/logos/brand-logo.svg' %}"
            alt="Trust 1"
            class="img-fluid"
          >
        </li>
        <li>
          <img
            src="{% static 'img/logos/brand-logo.svg' %}"
            alt="Trust 1"
            class="img-fluid"
          >
        </li>
        <li>
          <img
            src="{% static 'img/logos/brand-logo.svg' %}"
            alt="Trust 1"
            class="img-fluid"
          >
        </li>
        <li>
          <img
            src="{% static 'img/logos/brand-logo.svg' %}"
            alt="Trust 1"
            class="img-fluid"
          >
        </li>
        <li>
          <img
            src="{% static 'img/logos/brand-logo.svg' %}"
            alt="Trust 1"
            class="img-fluid"
          >
        </li>
        <li>
          <img
            src="{% static 'img/logos/brand-logo.svg' %}"
            alt="Trust 1"
            class="img-fluid"
          >
        </li>
      </ul>
    </div>
  </div>
</section>