{% extends 'cp-base.html' %}
{% load humanize %}

{% block extra_title %}
| Home
{% endblock %}

{% block content %}
  <div class="row">
    {% include 'small-card.html' with title="Users" num=total_num_users sub="Total Users" icon="user" %}
    {% include 'small-card.html' with title="Articles" num=total_articles sub="Total Articles" icon="book" %}
    {% include 'small-card.html' with title="Messages" num=total_unread_messages_num sub="Unread Messages" icon="message-square" %}
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6 d-flex">
      <div class="card flex-fill">
        <div class="card-header">
          <h5 class="card-title mb-0">Latest Messages</h5>
        </div>
        <table class="table table-hover my-0">
          <thead>
            <tr>
              <th>From</th>
              <th>Date</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            {% if latest_messages %}
            {% for message in latest_messages %}
            <tr>
              <td>{{ message.fname }} {{ message.lname }}</td>
              <td>{{ message.created_at|date:"d/m/y" }}</td>
              <td>
                {% if message.read == True %}
                <p class="badge bg-success m-0">Read</p>
                {% else %}
                <p class="badge bg-warning m-0">Unread</p>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
              <td colspan="5">No Messages yet</td>
            </tr>
            {% endif %}
          </tbody>
        </table>
        <a href="{% url 'cp_messages' %}" class="card-footer d-block text-center text-dark small font-weight-bold">View All</a>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 d-flex">
      <div class="card flex-fill">
        <div class="card-header">
          <h5 class="card-title mb-0">Latest Articles</h5>
        </div>
        <table class="table table-hover my-0">
          <thead>
            <tr>
              <th>Title</th>
              <th>Date</th>
              <th>Views</th>
            </tr>
          </thead>
          <tbody>
            {% if latest_articles %}
            {% for article in latest_articles %}
            <tr>
              <td>{{ article.title }}</td>
              <td>{{ article.date|date:"d/m/y" }}</td>
              <td>{{ article.views|intcomma }}</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
              <td colspan="5">No Articles yet</td>
            </tr>
            {% endif %}
          </tbody>
        </table>
        <a href="{% url 'cp_articles' %}" class="card-footer d-block text-center text-dark small font-weight-bold">View All</a>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 d-flex">
      <div class="card flex-fill">
        <div class="card-header">
          <h5 class="card-title mb-0">Latest Payment Requests</h5>
        </div>
        <table class="table table-hover my-0">
          <thead>
            <tr>
              <th>Email</th>
              <th>Date</th>
              <th>Amount</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            {% if latest_payment_requests %}
            {% for req in latest_payment_requests %}
            <tr>
              <td>{{ req.email }}</td>
              <td>{{ req.date|date:"d/m/y" }}</td>
              <td>£{{ req.amount|intcomma }}</td>
              <td>
                {% if req.paid == True %}
                <p class="badge bg-success m-0">Paid</p>
                {% else %}
                <p class="badge bg-warning m-0">Unpaid</p>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
              <td colspan="5">No Payment Requests Yet</td>
            </tr>
            {% endif %}
          </tbody>
        </table>
        <a href="{% url 'cp_payments' %}" class="card-footer d-block text-center text-dark small font-weight-bold">View All</a>
      </div>
    </div>
  </div>
{% endblock %}