{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  {% block meta %}
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  {% endblock %}

  {% block extra_meta %}
  {% endblock %}

  {% block extra_js %}
  {% endblock %}

  {% block core_css %}
  <!-- Bootstrap CDN -->
  <link href="{% static 'css/app.css' %}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
  {% endblock %}

  {% block extra_css %}
  {% endblock %}

  {% block core_js %}
  {% endblock %}

  <title>FStop - Control Panel {% block extra_title %}{% endblock %}</title>
</head>
<body>
  {% if messages %}
    {% for message in messages %}
      {% include 'toasts/toast-'|add:message.tags|add:'.html' %}
    {% endfor %}
  {% endif %}

  <div class="wrapper">
    {% include 'partials/cp-sidebar-nav.html' %}
    <div class="main">
      {% include 'partials/cp-main-nav.html' %}
      <main class="content">
        <div class="container-fluid p-0">
          {% block content %}{% endblock %}  
        </div>
      </main>  
      {% include 'partials/cp-footer.html' %}
    </div>
  </div>  

  {% block postload_js %}
  <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
      var toastElList = [].slice.call(document.querySelectorAll('.toast'));
      var toastList = toastElList.map(function(toastEl) {
        return new bootstrap.Toast(toastEl);
      });
      toastList.forEach(toast => toast.show());
    });
  </script>
  <script src="{% static 'js/app.js' %}"></script>
  {% endblock %}
</body>
</html>