{% extends 'cp-base.html' %}
{% block content %}

<div class="container pt-5 mb-5">
  <div class="row mb-5">
    <div class="col-sm-12 text-center">
      <h1>Message Management</h1>
      <p class="mb-3">Manage your Messages.</p>
    </div>
  </div>
  <div class="row background-white">
  {% for message in formMessages %}

  <div class="col-sm-12 d-flex flex-row justify-content-between {% if not message.read %}background-wet-asphalt text-white{% endif %} border-bottom-peter-river pt-2 pb-2">
    <div class="message-content">
      <div class="sender-info">
        <p>{{ message.created_at }}</p>
        <p>From:</p>
        <p>{{ message.fname }} {{ message.lname }}</p>
        <p>{{ message.email }}</p>
      </div>
      <div class="message-body">
        <p>Message:</p>
        <p>{{ message.message }}</p>
      </div>      
    </div>
    <div class="buttons d-flex flex-column justify-content-center">
      <a href="{% url 'toggle_read' message.id %}" class="btn btn-secondary my-2">
        Mark as {% if message.read %}Unread{% else %}Read{% endif %}
      </a>
      <a href="#" class="btn btn-danger">Delete</a>
    </div>
  </div>
  {% endfor %}
  </div>
</div>
{% endblock %}