{% extends 'cp-base.html' %}

{% block extra_title %}
| Add Carousel Image
{% endblock %}

{% block content %}
  <div class="row card">
    <div class="card-header">
      <h1 class="card-title mb-0">Add Carousel Image</h1>
    </div>
    <div class="col-sm-12">
      <form action="{% url 'cp_cms_add_slider_image' %}" method="POST" enctype="multipart/form-data" class="pb-5">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="d-flex flex-row justify-content-end mt-3">
          <button type="submit" class="btn btn-success">Add Image</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}