<section class="container-fluid background-primary section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6 order-md-2">
        <img class="img-fluid pb-3 img fit" load="lazy" src="{{ page_info.service_info_two_image.url }}" alt="{{ page_info.service_info_two_alt_text }}">
      </div>
      <div class="col-md-6">
        <h2 class="color-white-200 pb-3 border-b-primary mb-3">
          {{ page_info.service_info_two_title }}
        </h2>
        <div class="body-text">
          {{ page_info.service_info_two_lead|linebreaks }}
        </div>      
      </div>
    </div>
  </div>
  </section>