<section class="container-fluid background-primary section-padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <img class="img-fluid pb-3" src="{{ page_info.service_info_one_image.url }}" alt="{{ page_info.service_info_one_alt_text }}">
      </div>
      <div class="col-sm-6">
        <h2 class="color-white-200 pb-3 border-b-primary mb-3">
          {{ page_info.service_info_one_title }}
        </h2>
        <div class="body-text">
          {{ page_info.service_info_one_lead|linebreaks }}
        </div>      
      </div>
    </div>
  </div>
  </section>