{% load static %}

<section class="blog-feed section-padding background-primary">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="color-white-200 text-center fw-600">Latest News &amp; Updates</h2>
        <p class="color-white-300 text-center mt-3">Stay up to date with the latest news and updates from our blog. We cover a wide range of topics, from photography tips and tricks to industry news and trends. Check back often for new content!</p>
      </div>
    </div>
    <div class="row mt-5">
      {% for article in articles %}
        <a href="{% url 'article' article.slug %}" class="news-wrapper col-sm-6">
          <img src="{{ article.thumb.url }}" class="img-fluid" alt="{{ article.title }}">
          <div class="news-body">
            <h3 class="color-white-200 mb-2 pb-3 border-b-primary">{{ article.title }}</h3>
            <span class="date color-white-300 mb-2">{{ article.date|date:"d/m/y" }}</span>
            <p class="color-white-300 excerpt pt-2">{{ article.exerpt }}</p>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
</section>