{% load static %}

<section class="section-padding container-fluid feedback background-secondary testimonials">
  <div class="container">
    <div class="row mb-5">
      <div class="col-sm-12 text-center">
        <h2 class="color-white-200 fw-600 mb-3 pb-3 border-b-primary">
          Client feedback and success stories
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="swiper">
          <div class="swiper-wrapper">

            {% for review in reviews %}
            <div class="swiper-slide">
              <div class="swiper-container">
                <div class="swiper-half">
                  <img loading="lazy" src="{{ review.user_img.url }}" alt="Feedback 1" class="img-fluid">
                </div>
                <div class="swiper-half pt-3">
                  <div class="px-3">
                    <h3 class="color-white-200 fw-600 mb-3 border-b-primary pb-3">
                      {{ review.name }}
                    </h3>
                    <span class="color-white-300">
                      {{ review.company }}
                    </span>
                    <p class="color-white-300 pt-3 quote">
                      "{{ review.content }}"
                    </p>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
            
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>