{% load static %}
<section class="container-fluid learn section-padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-6 mb-3">
        <img src="{{ homepage_about.homepage_about_image.url }}" class="img-fluid img fit" loading="lazy" alt="Example of some portrait photography">
      </div>
      <div class="col-sm-12 col-lg-6 p-5">
        <h2 class="mb-3 pb-3 color-white-200 border-b-primary">
          {{ homepage_about.homepage_about_title }}
        </h2>
        <p class="mb-3 mx-auto color-white-300">
          {{ homepage_about.homepage_about_lead }}
        </p>
        <h3 class="mb-2 heavy color-white-200">
          {{ homepage_about.homepage_about_subtitle }}
        </h3>
        <p class="pb-2 mb-2 color-white-300 border-b-secondary">
          {{ homepage_about.homepage_about_paragraph_one|safe|linebreaksbr }}
        </p>
        <div class="pb-2 mb-3 color-white-300">
          <p>{{ homepage_about.homepage_about_paragraph_two|safe|linebreaksbr }}</p>
        </div>
        <div class="d-flex justify-content-center">
          <a href="{% url 'portfolio' %}" class="btn btn-custom-red">Portfolio</a>
        </div>
      </div>
    </div>
  </div>
</section>