{% load static %}

<section class="container-fluid trust background-secondary section-padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 text-center">
        <h2 class="color-white-200 pb-3 border-b-primary mb-3">
          {{ homepage_trusted_by.trusted_by_title }}
        </h2>
        <p class="color-white-300">
          {{ homepage_trusted_by.trusted_by_lead }}
        </p>
      </div>
      <div class="col-sm-8">
        <div class="row">
          
          <div class="col-sm-6">
            <img
              src="{{ homepage_trusted_by.img_one.url }}"
              alt="Brand Image One"
              class="img-fluid"
            >
          </div>
          <div class="col-sm-6">
            <img
              src="{{ homepage_trusted_by.img_two.url }}"
              alt="Brand Image Two"
              class="img-fluid"
            >
          </div>
          <div class="col-sm-6">
            <img
              src="{{ homepage_trusted_by.img_three.url }}"
              alt="Brand Image Three"
              class="img-fluid"
            >
          </div>
          <div class="col-sm-6">
            <img
              src="{{ homepage_trusted_by.img_four.url }}"
              alt="Brand Image Four"
              class="img-fluid"
            >
          </div>
          <div class="col-sm-6">
            <img
              src="{{ homepage_trusted_by.img_five.url }}"
              alt="Brand Image Five"
              class="img-fluid"
            >
          </div>
          <div class="col-sm-6">
            <img
              src="{{ homepage_trusted_by.img_six.url }}"
              alt="Brand Image Six"
              class="img-fluid"
            >
          </div>
          <div class="col-sm-6">
            <img
              src="{{ homepage_trusted_by.img_seven.url }}"
              alt="Brand Image Seven"
              class="img-fluid"
            >
          </div>
          <div class="col-sm-6">
            <img
              src="{{ homepage_trusted_by.img_eight.url }}"
              alt="Brand Image Eight"
              class="img-fluid"
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>