#card-element {
  border-radius: 0;
  height: 44px;
  display: flex;
  flex-direction: column;
  justify-content: center;  
}

legend {
  font-weight: 600;
  color: var(--col-white-200);
  font-size: 1.25rem;
}

#card-errors span {
  color:var(--col-primary);
  font-weight: 600;
}