/*
  Home Hero Styles
*/

.home-hero {
  position: relative;
  overflow: hidden;
  height: 85vh;
  overflow: hidden;
  padding: 0;
  margin: 0;
  min-height: 840px;

  img.desktop-hero {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    object-fit: cover;
    object-position: top right;
  }

  .hero-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 150px;
  }

  &:after {
    background: rgb(0,0,0);
    background: linear-gradient(
      45deg,
      rgba(0,0,0,1) 0%,
      rgba(0,0,0,0.5004202364539565) 40%,
      rgba(61,62,66,1) 100%,
      rgba(13,2,17,0) 100%);
    opacity: 0.2;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .container {
    z-index: 2;
    position: relative;

    h1 {
      font-weight: 700;
      margin-bottom: 1.25rem;
      line-height: 1;
      padding-bottom: 15px;
      border-bottom: 2px solid var(--col-primary);

      span {
        display: block;
        font-size: calc(var(--font-size-base) * 10);
        margin-left: -10px;
      }
    }

    p {
      font-weight: 600;
    }
  }
}

.sub-hero {
  position: relative;

  .hero-list {
    margin: 0;
    padding: 0;
    padding-top: 15px;
    display: flex;
    flex-wrap: wrap;

    li {
      flex-basis: 50%;
      display: flex;
      flex-direction: row;
      align-items: center;     
      color: var(--col-white-200);
      font-weight: 400;
      padding-left: 50px;
      position: relative;
      padding-bottom: 15px;
      align-items: start;

      img {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 15px;
      }
    }
  }

  .credentials {
    h2 {
      color: var(--col-white-200);
      padding-top: 5px;
      padding-bottom: 15px;
      border-bottom: 2px solid var(--col-primary);
    }

    span {
      color: var(--col-white-200);
      font-size: calc(var(--font-size-base)* 1.625);
      font-weight: 600;
    }
  }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .home-hero .container h1 {
    font-size: calc(var(--font-size-base) * 2.5);
    span {
      font-size: calc(var(--font-size-base) * 5);
      margin-left: -4px;
    }
  }
}

@media screen and (max-width: 768px) {
  .desktop-hero {
    display: none;
  }

  .home-hero-buttons {
    display: flex;
    flex-direction: row;
    justify-content: start;

    .btn {
      margin-right: 15px;
    }
  }

  .home-hero {
    position: relative;

    .container {
      h1 {
        font-size: calc(var(--font-size-base) * 2);
      }

      .hero-list {
        li {
          flex-basis: 100%;
        }
      }
    }
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

@media screen and (min-width: 769px) {
  .home-hero p {
    max-width: 60%;
  }
}

.scroll-icon {
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -40px;
  z-index: 5;
  animation: bounce 2s infinite;

  img {
    width: 80px;
    height: 80px;
  }
}

/*
  Learn Section Styles
*/

.learn {
background-color: var(--col-black);
padding-top: 5rem;
padding-bottom: 5rem;
position: relative;
overflow: hidden;
z-index: 3;

  &:after {
    content: "F.";
    font-weight: 700;
    font-size: 50rem;
    color: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1;
    transform: rotate(-15deg);
    line-height: 1;
  }

  .stretch-img {
    height: auto;
    width: 100%;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;

  }
}

@media screen and (max-width: 568px) {
  .learn:after {
    font-size: 40rem;
    bottom: 5%;
    top: initial;
    left: 0;
  }
}

/*
  Home Services Section Styles
*/

.services-home {
  h2 {
    margin: 0 auto;
  }

  .btn-custom-red {
    width: initial;
    margin: 0 auto;
  }

  .services-panel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
      
    .service-card {
      padding: 15px;

      .service-card-content {
        margin: 0 auto;
        margin-top: -50px;
        max-width: 90%;
        padding: 15px;
      }
    }
  }
}

@media screen and (max-width: 568px) {
  .services-panel {
    li {
      flex-basis: 100%;
    }
  }
}

/*
  Trust Section Styles
*/

.trust {
  h2 {
    margin: 0 auto;
    font-weight: 600;
  }

  img {
    display: block;
    margin: 0 auto;
    max-height: 80px;
    width: auto;
    padding: 10px 0;
  }
}

/*
  Blog Feed Styles
*/

.blog-feed {
  .news-wrapper {
    background-color: var(--col-grey);
    display: block;
    border: 10px solid var(--col-black);
    padding: 15px;

    .news-body {
      padding: 30px 15px;
    }
  }
}

/*
  Feedback section styles
*/
.swiper-slide {
  .swiper-container {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    
    .swiper-half {
      flex-basis: 50%;
      padding-top: 15px;
      padding-bottom: 15px;
      background: #151619;
    }
    
    .quote {
      padding-right: 15px;
    }
  }
}

@media screen and (max-width: 768px) {
  .swiper-slide {
    .swiper-container {
      .swiper-half {
        flex-basis: 100%;
        text-align: center;
        img {
          margin: 0 auto;
          display: block;
        }
      }
    }
  }
}