{% extends 'base.html' %}
{% load static %}

{% block content %}
  <section class="services-hero section-padding background-primary">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h1 class="pb-3 color-white-200">Lorem ipsum dolor sit amet consectetur</h1>
          <p class="pb-3 color-white-300">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium repellendus tempore adipisci obcaecati</p>
          <div class="buttons-container">
            <a href="{% url 'portfolio' %}" class="btn btn-custom-red">Portfolio</a>
            <a href="{% url 'contact' %}" class="btn btn-custom-black ml-3">Contact Us</a>
          </div>
        </div>
        <div class="col-sm-6">
          <img src="" alt="" class="mx-auto img-fluid">
        </div>
      </div>
    </div>
  </section>
  <section class="banner-img background-secondary section-padding">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 d-flex flex-column justify-content-end align-items-end">
          <h2 class="color-white-200">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</h2>
        </div>
        <div class="col-sm-6 d-flex flex-column justify-content-end align-items-end">
          <p class="color-white-300">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium repellendus tempore adipisci obcaecati</p>
        </div>
      </div>
    </div>
  </section>
  <section class="service-panels section-padding background-secondary">
    <div class="container">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card">
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
              <path fill-rule="evenodd" d="M11 4.717c-2.286-.58-4.16-.756-7.045-.71A1.99 1.99 0 0 0 2 6v11c0 1.133.934 2.022 2.044 2.007 2.759-.038 4.5.16 6.956.791V4.717Zm2 15.081c2.456-.631 4.198-.829 6.956-.791A2.013 2.013 0 0 0 22 16.999V6a1.99 1.99 0 0 0-1.955-1.993c-2.885-.046-4.76.13-7.045.71v15.081Z" clip-rule="evenodd"/>
            </svg>
            
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                This is a longer card with supporting text below as a natural lead-in to
                additional content. This content is a little bit longer.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
              <path fill-rule="evenodd" d="M11 4.717c-2.286-.58-4.16-.756-7.045-.71A1.99 1.99 0 0 0 2 6v11c0 1.133.934 2.022 2.044 2.007 2.759-.038 4.5.16 6.956.791V4.717Zm2 15.081c2.456-.631 4.198-.829 6.956-.791A2.013 2.013 0 0 0 22 16.999V6a1.99 1.99 0 0 0-1.955-1.993c-2.885-.046-4.76.13-7.045.71v15.081Z" clip-rule="evenodd"/>
            </svg>
            
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                This is a longer card with supporting text below as a natural lead-in to
                additional content. This content is a little bit longer.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
              <path fill-rule="evenodd" d="M11 4.717c-2.286-.58-4.16-.756-7.045-.71A1.99 1.99 0 0 0 2 6v11c0 1.133.934 2.022 2.044 2.007 2.759-.038 4.5.16 6.956.791V4.717Zm2 15.081c2.456-.631 4.198-.829 6.956-.791A2.013 2.013 0 0 0 22 16.999V6a1.99 1.99 0 0 0-1.955-1.993c-2.885-.046-4.76.13-7.045.71v15.081Z" clip-rule="evenodd"/>
            </svg>
            
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                additional content.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
              <path fill-rule="evenodd" d="M11 4.717c-2.286-.58-4.16-.756-7.045-.71A1.99 1.99 0 0 0 2 6v11c0 1.133.934 2.022 2.044 2.007 2.759-.038 4.5.16 6.956.791V4.717Zm2 15.081c2.456-.631 4.198-.829 6.956-.791A2.013 2.013 0 0 0 22 16.999V6a1.99 1.99 0 0 0-1.955-1.993c-2.885-.046-4.76.13-7.045.71v15.081Z" clip-rule="evenodd"/>
            </svg>
            
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                This is a longer card with supporting text below as a natural lead-in to
                additional content. This content is a little bit longer.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
              <path fill-rule="evenodd" d="M11 4.717c-2.286-.58-4.16-.756-7.045-.71A1.99 1.99 0 0 0 2 6v11c0 1.133.934 2.022 2.044 2.007 2.759-.038 4.5.16 6.956.791V4.717Zm2 15.081c2.456-.631 4.198-.829 6.956-.791A2.013 2.013 0 0 0 22 16.999V6a1.99 1.99 0 0 0-1.955-1.993c-2.885-.046-4.76.13-7.045.71v15.081Z" clip-rule="evenodd"/>
            </svg>
            
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                This is a longer card with supporting text below as a natural lead-in to
                additional content. This content is a little bit longer.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
              <path fill-rule="evenodd" d="M11 4.717c-2.286-.58-4.16-.756-7.045-.71A1.99 1.99 0 0 0 2 6v11c0 1.133.934 2.022 2.044 2.007 2.759-.038 4.5.16 6.956.791V4.717Zm2 15.081c2.456-.631 4.198-.829 6.956-.791A2.013 2.013 0 0 0 22 16.999V6a1.99 1.99 0 0 0-1.955-1.993c-2.885-.046-4.76.13-7.045.71v15.081Z" clip-rule="evenodd"/>
            </svg>
            
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                This is a longer card with supporting text below as a natural lead-in to
                additional content. This content is a little bit longer.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="services-trust section-padding background-primary">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <img src="" class="mx-auto img-fluid" alt="">
        </div>
        <div class="col-sm-6">
          <h2 class="pb-3 color-white-200">Lorem ipsum dolor sit amet consectetur</h2>
          <p class="pb-3 color-white-300">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium repellendus tempore adipisci obcaecati</p>
          <div class="row">
            <div class="col-sm-6">
              <p class="color-white-300">500</p>
              <p class="color-white-300">Happy clients</p>
            </div>
            <div class="col-sm-6">
              <p class="color-white-300">100%</p>
              <p class="color-white-300">On time delivery</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% include 'partials/cta.html' %}
  <section class="services-trust section-padding background-primary">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 order-md-2">
          <img src="" class="mx-auto img-fluid" alt="img here">
        </div>
        <div class="col-sm-6 order-md-1">
          <h2 class="pb-3 color-white-200">Lorem ipsum dolor sit amet consectetur</h2>
          <p class="pb-3 color-white-300">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium repellendus tempore adipisci obcaecati</p>
          <div class="row">
            <div class="col-sm-6">
              <p class="color-white-300">500</p>
              <p class="color-white-300">Happy clients</p>
            </div>
            <div class="col-sm-6">
              <p class="color-white-300">100%</p>
              <p class="color-white-300">On time delivery</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}