{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if services_hero %}
  <section class="services-hero section-padding background-primary"
    style="background-image: url({{ services_hero.image.url }});"
  >
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h1 class="pb-3 color-white-200">
            {{ services_hero.title }}
          </h1>
          <p class="pb-3 color-white-300">
            {{ services_hero.lead }}
          </p>
          <div class="buttons-container">
            <a href="{% url 'portfolio' %}" class="btn btn-custom-red">Portfolio</a>
            <a href="{% url 'contact' %}" class="btn btn-custom-black ml-3">Contact Us</a>
          </div>
        </div>
        <div class="col-sm-6">
          <img src="" alt="" class="mx-auto img-fluid">
        </div>
      </div>
    </div>
  </section>
  {% endif %}
  {% if services_banner %}
  <section class="banner-img background-secondary section-padding pb-0">
    <div class="banner-bg container section-padding pb-0" style="background-image: url({{ services_banner.image.url }})">
      <div class="row">
        <div class="col-sm-6 d-flex flex-column justify-content-end align-items-end">
          <h2 class="color-white-200">
            {{ services_banner.title}}
          </h2>
        </div>
        <div class="col-sm-6 d-flex flex-column justify-content-end align-items-end">
          <p class="color-white-300">
            {{ services_banner.lead }}
          </p>
        </div>
      </div>
    </div>
  </section>
  {% endif %}
  {% if services_cards %}
  <section class="service-panels section-padding background-secondary">
    <div class="container">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for card in services_cards %}
        <div class="col">
          <div class="card card-icon">
            {{ card.icon|safe }}            
            <div class="card-body">
              <h5 class="card-title">{{ card.title }}</h5>
              <p class="card-text">
                {{ card.lead }}
              </p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  {% endif %}
  {% if services_context_banner_one %}
  <section class="services-trust section-padding background-primary">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <img src="{{ services_context_banner_one.image.url }}" class="mx-auto img-fluid" alt="{{ services_context_banner_one.alt_text }}">
        </div>
        <div class="col-sm-6">
          <h2 class="pb-3 color-white-200">
            {{ services_context_banner_one.title }}
          </h2>
          <p class="pb-3 color-white-300">
            {{ services_context_banner_one.lead }}
          </p>
          <div class="row">
            <div class="col-sm-6">
              <p class="color-white-300">
                {{ services_context_banner_one.stat_one }}
              </p>
              <p class="color-white-300">
                {{ services_context_banner_one.stat_one_description }}
              </p>
            </div>
            <div class="col-sm-6">
              <p class="color-white-300">
                {{ services_context_banner_one.stat_two }}
              </p>
              <p class="color-white-300">
                {{ services_context_banner_one.stat_two_description }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endif %}
  {% include 'partials/cta.html' %}
  {% if services_context_banner_two %}
  <section class="services-trust section-padding background-primary">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 order-md-2">
          <img src="{{services_context_banner_two.image.url }}" class="mx-auto img-fluid" alt="{{services_context_banner_two.alt_text }}">
        </div>
        <div class="col-sm-6 order-md-1">
          <h2 class="pb-3 color-white-200">
            {{ services_context_banner_two.title }}
          </h2>
          <p class="pb-3 color-white-300">
            {{ services_context_banner_two.lead }}  
          </p>
          <div class="row">
            <div class="col-sm-6">
              <p class="color-white-300">
                {{ services_context_banner_two.stat_one }}
              </p>
              <p class="color-white-300">
                {{ services_context_banner_two.stat_one_description }}
              </p>
            </div>
            <div class="col-sm-6">
              <p class="color-white-300">
                {{ services_context_banner_two.stat_two }}
              </p>
              <p class="color-white-300">
                {{ services_context_banner_two.stat_two_description }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endif %}
{% endblock %}