/*
  Learn Section Styles
*/

.learn {
  background-color: var(--col-black);
  padding-top: 5rem;
  padding-bottom: 5rem;
  position: relative;
  overflow: hidden;
  z-index: 3;

  h2 {
    padding-bottom: 2rem;
  }

  &:after {
    content: "F.";
    font-weight: 700;
    font-size: 50rem;
    color: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1;
    transform: rotate(-15deg);
    line-height: 1;
  }

  .stretch-img {
    height: auto;
    width: 100%;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;

  }
}

@media screen and (max-width: 568px) {
  .learn:after {
    font-size: 40rem;
    bottom: 5%;
    top: initial;
    left: 0;
  }
}